
/* -------------------------------------------------------------------- Resets */

html {
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    margin-bottom: 10px;
    background-color: white;
}

a {
    text-decoration: none;
    color: var(--concrete);
}

/* -------------------------------------------------------------------- Media queries */

/* large devices (laptops and desktops, from 1374px to 1025px)*/
@media only screen and (max-width: 1374px) {

}

/* Medium devices (landscape tablets, from 1025px to 768px) */
@media only screen and (max-width: 1025px) {

}

/* Small devices (phones, 768px and down) */
@media only screen and (max-width: 768px) {
    
/* -------------------------------------------------------------------- Header */
#logo{
    border-radius: 50%;
    width: 150px;
    height:150px;
    margin:10% auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#logo img{
    border-radius: 50%;
}
#photo{
    width: 50%;
    height:auto;
    margin:10% auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.intro-container{
    margin:auto;
    width:80%;
    text-align: justify;
}

.intro-container h3{
    color:#e1d6e6;
}

#instagram,
#ticktock,
#whatsapp{
padding:10px;
color: black;
background-image: url("../images/colordefondo.jpg");
margin:5px;  
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
text-align:center;
}
#whatsapp img,
#ticktock img,
#instagram img{
    font-size: 125px;
    float: left;
    margin-top:-10px;
    width:40px;
    height:40px;
}
.instagram-btn-container{
    margin-top:30px;
}
#instagram:hover,
#ticktock:hover,
#whatsapp:hover{
    background-color: pink;
}

#video-container{
margin:auto;
width:350px;
margin-top:40px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer p{
    text-align: center;
    margin-top: 50px;
    color: #e1d6e6;
}
}